@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600");

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%; 
    overflow: hidden;
    opacity: 1;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.normalButton{
    background-color:green;
    border:none;
    color:white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.normalButton:hover {
    background-color:white;
    color: green;
}
.parallax{
    background-image: url(../images/70H.jpg);
    height: 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.parallax2{
    background-image:url(../images/83H.jpg);
    height: 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3{
    background-image:url(../images/2813801796_2403f7d683_b.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementBlock{
    
    
    font-size: 20px;
}